*{
    margin: 0;
}
.site{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    padding: 1rem;
    background-color: #9AC8EB;
}

a{
    color: #5784BA;
}

.main{
    padding: 1rem;
    background-color: #F4CFDF;
}

.footer{
    padding: 1rem;
    text-align: center;
    background-color: #5784BA;
}

.article{
    margin: 2rem 0;
}

.article h3{
    margin: 1rem 0;
}
